body {
    background-color: rgb(240, 218, 246);
}

.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}


#titulo{
    font-family: 'Pangolin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: rgb(60, 3, 75);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#titulo img {
    translate: 0 20px;
    height: 60px;
}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(31, 1, 39);
    font-weight: 500;
}

#caixa-de-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#caixa-de-botoes p {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    color: rgb(31, 1, 39);
    font-weight: 500;
    font-weight: bold;
}

#caixa-de-busca {
    display: flex;
    gap: 20px;
    align-items: center;
}

#buscar-fato {
    height: 35px;
    width: 100px;
    border: none;
    padding: 0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.botao-fatos {
    background-color: rgb(78, 5, 96);
    color: white;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.304);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.botao-fatos:hover{
    background-color: rgb(50, 3, 62);
    cursor: pointer;
}

#botao-de-busca {
    width: 120px;
    height: 40px;
}

#container-de-busca {
   display: flex; 
   flex-direction: column; 
   align-items: center;
}

#resultado-fatos {
    margin: 30px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(57, 0, 73, 0.271);
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gato {
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 425px) {
p {
    font-size: 1.4rem;
}
}

@media (max-width: 375px) {
#titulo {
    font-size: 3.5rem;
}
    
#titulo img {
    height: 45px;
}
    
p {
    font-size: 1.2rem;
}
}

@media (max-width: 320px) {
#titulo {
    font-size: 3.2rem;
}
    
#titulo img {
    height: 40px;
}
}